<div style="display: flex;justify-content: space-around; width: 100%; ">
   <p>
      <%= user.name %>
      <a href="/my-Cart">My Cart</a>
      <a href="/logout">logout</a>
      <a href="/change-password">Change Password</a>
   </p>
</div>