<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
</head>

<body>

    <h1>Admin Dashboard</h1>

    <h3>Welcome Admin</h3>

    <br>

    <a href="/admin/products">
        <button>Manage Products</button>
    </a>

    <br><br>

    <a href="/admin/orders">
        <button>Manage Orders</button>
    </a>

    <br><br>

    <a href="/admin/users">
        <button>Manage Users</button>
    </a>

    <br><br>

    <a href="/admin/logout">
        <button>Logout</button>
    </a>


</body>

</html>