<html>
    <head>
        <title>Change Password</title>

    </head>
    <body>
        <h3>Change Password</h3>

        <form method="post" action="/change-password">

            <label>Current Password</label>
            <input type="password" name="current_password">
            <br><br>

            <label>New Password</label>
            <input type="password" name="new_password">
            <br><br>

            <label>Confirm Password</label>
            <input type="password" name="confirm_password">
            <br><br>


            <input type="submit" value="Change password">
            <br><br>


        </form>

        <% if(error) { %>

            <div style="color:red;">
                <%= error %>
            </div>
        <% }%>    
    </body>
</html>